@tailwind base;
@tailwind components;
@tailwind utilities;

html:focus-within {
	scroll-behavior: smooth;
}

.wrapper {
	position: fixed;
	top: 50%;
	bottom: 50%;
}

.gradientText {
	background: linear-gradient(
		to right,
		#11438f 0%,
		#fce357 100%
	); /* Adjust colors */
	background-clip: text; /* Apply gradient to text content */
	-webkit-text-fill-color: transparent; /* Make text color transparent */
}

.navLink {
	text-decoration: none;
	font-weight: 600;
	background-color: transparent;
	color: #175597;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	transition: background-color 0.5s ease-out;
}

.navLink:hover {
	border-bottom: 2px solid #4f94dd;
	transition-duration: 2000ms;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.navLink .active {
	border-bottom: 4px solid #1a66b8;
	transition-duration: 2000ms;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.navSubLink {
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 600;
	color: #378ce7;
}

.navSubLink:hover {
	--tw-text-opacity: 1;
	color: rgb(12 74 110 / var(--tw-text-opacity));
}

/* Loading component */
#wifi-loader {
	--background: #62abff;
	--front-color: #295ef0;
	--back-color: #c3c8de;
	--text-color: #414856;
	width: 64px;
	height: 64px;
	border-radius: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wifi-loader svg {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wifi-loader svg circle {
	position: absolute;
	fill: none;
	stroke-width: 6px;
	stroke-linecap: round;
	stroke-linejoin: round;
	transform: rotate(-100deg);
	transform-origin: center;
}

#wifi-loader svg circle.back {
	stroke: var(--back-color);
}

#wifi-loader svg circle.front {
	stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
	height: 86px;
	width: 86px;
}

#wifi-loader svg.circle-outer circle {
	stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
	animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
	animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
	height: 60px;
	width: 60px;
}

#wifi-loader svg.circle-middle circle {
	stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
	animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
	animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
	height: 34px;
	width: 34px;
}

#wifi-loader svg.circle-inner circle {
	stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
	animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
	animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
	position: absolute;
	bottom: -40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
	content: attr(data-text);
}

#wifi-loader .text::before {
	color: var(--text-color);
}

#wifi-loader .text::after {
	color: var(--front-color);
	animation: text-animation76 3.6s ease infinite;
	position: absolute;
	left: 0;
}

@keyframes circle-outer135 {
	0% {
		stroke-dashoffset: 25;
	}

	25% {
		stroke-dashoffset: 0;
	}

	65% {
		stroke-dashoffset: 301;
	}

	80% {
		stroke-dashoffset: 276;
	}

	100% {
		stroke-dashoffset: 276;
	}
}

@keyframes circle-middle6123 {
	0% {
		stroke-dashoffset: 17;
	}

	25% {
		stroke-dashoffset: 0;
	}

	65% {
		stroke-dashoffset: 204;
	}

	80% {
		stroke-dashoffset: 187;
	}

	100% {
		stroke-dashoffset: 187;
	}
}

@keyframes circle-inner162 {
	0% {
		stroke-dashoffset: 9;
	}

	25% {
		stroke-dashoffset: 0;
	}

	65% {
		stroke-dashoffset: 106;
	}

	80% {
		stroke-dashoffset: 97;
	}

	100% {
		stroke-dashoffset: 97;
	}
}

@keyframes text-animation76 {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	50% {
		clip-path: inset(0);
	}

	100% {
		clip-path: inset(0 0 0 100%);
	}
}

.text-with-shadow {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 4px 6px #333;
}

/* themes */
.themePolygonLuminary {
	background-image: url(../app/images/Theme_BlurryGradient.png);
	background-size: cover;
}

.themeHeroBackground {
	background-image: url(https://www.digitalocean.com/_next/static/media/hero-background.769bb51c.svg);
	background-size: cover;
	opacity: 90%;
}

.themeGlobal {
	background-image: url(../app/images/map_theme.png);
	background-size: contain;
}

.themeContact {
	background-image: url(../app/images/contactBanner.jpg);
	background-size: cover;
	width: 100%;
}

.themePost {
	background-image: url(../app/images/themePost.jpg);
	background-size: cover;
	width: 100%;
	min-height: 30rem;
}

.themeVeem {
	background-image: url(../app/images/veemBackup/veeam-1600x800-og-vbr.png);
	background-size: cover;
	width: 100%;
	min-height: 600px;
	border-radius: 12px;
}

.themeCard {
	background-image: url(../app/images/theme_card.png);
	background-size: cover;
}

.background-header {
	background-color: #74a1eb;
	background-image: linear-gradient(
		135deg,
		#74a1eb 1%,
		#f2f2f4 38%,
		#ffffff 100%
	);
}

.background-body {
	margin-top: 10vh;
	background-image: url(https://www.digitalocean.com/_next/static/media/benefits-bg.d8486e3e.svg);
	background-size: cover;
}

.background-footer {
	width: 100%;
	height: 100%;
	background-color: #161515;
	background-image: linear-gradient(
		32deg,
		rgba(8, 8, 8, 0.74) 30px,
		transparent
	);
	background-size: 60px 60px;
	background-position: -5px -5px;
}

.btn-grad {
	transition: 0.5s;
	background-size: 200% auto;
	color: #fff;
	box-shadow: 0 0 20px #eee;
	background-image: linear-gradient(
		to right,
		#134e5e 0%,
		#71b280 51%,
		#134e5e 100%
	);
}

.btn-astro {
	margin: 40px 0;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: #fff;
	box-shadow: 0 0 20px #eee;
	background-image: linear-gradient(
		to right,
		#283048 0%,
		#859398 51%,
		#283048 100%
	);
}

.fancy {
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 12px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 0.75em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
	font-size: 13px;
}

.fancy::before {
	content: " ";
	width: 1.5625rem;
	height: 2px;
	background: black;
	top: 50%;
	left: 1.5em;
	position: absolute;
	transform: translateY(-50%);
	transform-origin: center;
	transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
	font-size: 1.125em;
	line-height: 1.33333em;
	padding-left: 2em;
	display: block;
	text-align: left;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}

.fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
	color: white;
	background: black;
}

.fancy:hover::before {
	width: 0.9375rem;
	background: white;
}

.fancy:hover .text {
	color: white;
	padding-left: 1.5em;
}

.fancy:hover .top-key {
	left: -2px;
	width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
}

/* Card */
.card {
	border-radius: 20px;
	background: #ffffff;
	position: relative;
	padding: 1.8rem;
	border: 2px solid #c3c6ce;
	transition: 0.5s ease-out;
	overflow: visible;
}

.card-details {
	color: black;
	height: 100%;
	gap: 0.5em;
	display: grid;
	place-content: center;
}

.card-button {
	transform: translate(-50%, 125%);
	width: 60%;
	border-radius: 1rem;
	border: none;
	background-color: #008bf8;
	color: #fff;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	position: absolute;
	left: 50%;
	bottom: 0;
	opacity: 0;
	transition: 0.3s ease-out;
	text-decoration: none;
	text-align: center;
}

.text-body {
	color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

/*Hover*/
.card:hover {
	border-color: #008bf8;
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
	transform: translate(-50%, 50%);
	opacity: 1;
}

/* e-card */
.cardBox {
	width: auto;
	height: 300px;
	position: relative;
	display: grid;
	place-items: center;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

.cardBox .card {
	position: absolute;
	width: 95%;
	height: 95%;
	padding: 20px 10px;
	background: #000814;
	border-radius: 20px;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #ffffff;
	overflow: hidden;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

.cardBox .card .h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-weight: 800;
	pointer-events: none;
	opacity: 0.5;
}

.cardBox .card .content .h3 {
	font-size: 1rem;
	font-weight: 800;
	margin-bottom: 10px;
}

.cardBox .card .content .desc {
	font-size: 13px;
	line-height: 1.4em;
}

.cardBox .card .content {
	transform: translateY(100%);
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.cardBox .card:hover .content {
	transform: translateY(0);
	opacity: 1;
}

.cardBox .card:hover .h4 {
	opacity: 0;
}

.cardBox .cardBox::before {
	content: "";
	position: absolute;
	width: 40%;
	height: 150%;
	background: #40e0d0;
	background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
	background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
	transform-origin: center;
	animation: glowing_401 5s linear infinite;
}

@keyframes glowing_401 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Service price */
.service-card {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-bottom: 2rem;
	width: auto;
	display: flex;
	flex-direction: column;
	border-radius: 0.75rem;
	background-color: rgba(17, 24, 39, 1);
	padding: 1rem;
}

.service-card .header {
	display: flex;
	flex-direction: column;
}

.service-card .title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	color: #fff;
}

.service-card .price {
	font-size: 1.5rem;
	padding-top: 1rem;
	line-height: 1;
	font-weight: 700;
	color: #fff;
}

.service-card .lists {
	margin-bottom: 1.5rem;
	margin-left: -2.5rem;
	flex: 1 1 0%;
	color: rgba(156, 163, 175, 1);
}

.service-card .lists .list {
	margin-bottom: 0.5rem;
	display: flex;
	margin-left: 0.5rem;
}

.service-card .lists .list svg {
	height: 1.5rem;
	width: 1.5rem;
	flex-shrink: 0;
	margin-right: 0.5rem;
	color: rgba(167, 139, 250, 1);
}

.service-card .action {
	border: none;
	outline: none;
	display: inline-block;
	border-radius: 0.25rem;
	background-color: rgba(167, 139, 250, 1);
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: rgba(17, 24, 39, 1);
}

.service-card .action:hover {
	opacity: 0.75;
	color: #fff;
	transition-duration: 500ms;
}

/* about page button */
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	overflow: hidden;
	height: 3rem;
	background-size: 300% 300%;
	backdrop-filter: blur(1rem);
	border-radius: 5rem;
	transition: 0.5s;
	animation: gradient_301 5s ease infinite;
	border: double 4px transparent;
	background-image: linear-gradient(#212121, #212121),
		linear-gradient(
			137.48deg,
			#ffdb3b 10%,
			#fe53bb 45%,
			#8f51ea 67%,
			#0044ff 87%
		);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

#container-stars {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(1rem);
	border-radius: 5rem;
}

strong {
	z-index: 2;
	font-family: "Avalors Personal Use";
	font-size: 12px;
	letter-spacing: 5px;
	color: #ffffff;
	text-shadow: 0 0 4px white;
}

#glow {
	position: absolute;
	display: flex;
	width: 12rem;
}

.circle {
	width: 100%;
	height: 30px;
	filter: blur(2rem);
	animation: pulse_3011 4s infinite;
	z-index: -1;
}

.circle:nth-of-type(1) {
	background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
	background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
	z-index: 1;
	background-color: #212121;
}

.btn:hover {
	transform: scale(1.1);
}

.btn:active {
	border: double 4px #fe53bb;
	background-origin: border-box;
	background-clip: content-box, border-box;
	animation: none;
}

.btn:active .circle {
	background: #fe53bb;
}

#stars {
	position: relative;
	background: transparent;
	width: 200rem;
	height: 200rem;
}

#stars::after {
	content: "";
	position: absolute;
	top: -10rem;
	left: -100rem;
	width: 100%;
	height: 100%;
	animation: animStarRotate 90s linear infinite;
}

#stars::after {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
}

#stars::before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 170%;
	height: 500%;
	animation: animStar 60s linear infinite;
}

#stars::before {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
	opacity: 0.5;
}

@keyframes animStar {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-135rem);
	}
}

@keyframes animStarRotate {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0);
	}
}

@keyframes gradient_301 {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes pulse_3011 {
	0% {
		transform: scale(0.75);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.75);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* feedbacks */
.notification {
	padding: 20px;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-size: 16px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff;
	cursor: pointer;
}

.notification:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2;
}

.notification:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;
}

.notification:hover:after {
	transform: translateX(0.15rem);
}

.notititle {
	color: var(--color);
	font-weight: 500;
	font-size: 0.75rem;
	transition: transform 300ms ease;
	z-index: 5;
}

.notification:hover .notititle {
	transform: translateX(0.15rem);
}

.notibody {
	color: white;
	padding: 8px 0;
	transition: transform 300ms ease;
	z-index: 5;
}

.notification:hover .notibody {
	transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
	position: absolute;
	width: 20rem;
	height: 20rem;
	transform: translate(-50%, -50%);
	background: radial-gradient(
		circle closest-side at center,
		white,
		transparent
	);
	opacity: 0;
	transition: opacity 300ms ease;
}

.notiglow {
	z-index: 3;
}

.notiborderglow {
	z-index: 1;
}

.notification:hover .notiglow {
	opacity: 0.1;
}

.notification:hover .notiborderglow {
	opacity: 0.1;
}

.note {
	color: var(--color);
	position: fixed;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 0.9rem;
	width: 75%;
}

/* Contact Form Page */
.form-container {
	background: linear-gradient(#212121, #212121) padding-box,
		linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
	border: 2px solid transparent;
	padding: 32px 24px;
	font-size: 14px;
	font-family: inherit;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-sizing: border-box;
	border-radius: 16px;
	background-size: 200% 100%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.form {
	/* max-width: 100%; */
	min-width: 280px !important;
}

.form-container button:active {
	scale: 0.95;
}

.form-container .form {
	display: flex;
	flex-direction: column;
}

.form-container .form-group {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 100%;
}

.form-container .form-group label {
	display: block;
	margin-bottom: 5px;
	color: #717171;
	font-weight: 600;
	font-size: 12px;
}

.form-container .form-group input,
.form-container .form-group select {
	width: 100%;
	padding: 12px 16px;
	border-radius: 4px;
	font-family: inherit;
	background-color: transparent;
	border: 1px solid #414141;
}

.form-container .form-group textarea {
	width: 100%;
	padding: 12px 16px;
	border-radius: 4px;
	resize: none;
	height: 96px;
	border: 1px solid #414141;
	background-color: transparent;
	font-family: inherit;
}

.form-container .form-group input::placeholder {
	opacity: 0.5;
}

.form-container .form-group input:focus {
	outline: none;
	border-color: #1013b6;
}

.form-container .form-group textarea:focus {
	outline: none;
	border-color: #1013b6;
}

.form-container .form-submit-btn {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	align-self: flex-start;
	font-family: inherit;
	color: #fff;
	font-weight: 600;
	width: auto;
	background: #313131;
	border: 1px solid #414141;
	padding: 12px 16px;
	font-size: inherit;
	gap: 8px;
	margin-top: 8px;
	cursor: pointer;
	border-radius: 6px;
}

.form-container .form-submit-btn:hover {
	background-color: #333;
	border-color: #fff;
}

/* Modal Contact form */
.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 500px;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	position: relative;
}

.title {
	font-size: 28px;
	color: royalblue;
	font-weight: 600;
	letter-spacing: -1px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title::before,
.title::after {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	border-radius: 50%;
	left: 0px;
	background-color: royalblue;
}

.title::before {
	width: 18px;
	height: 18px;
	background-color: royalblue;
}

.title::after {
	width: 18px;
	height: 18px;
	animation: pulse 1s linear infinite;
}

.message,
.signin {
	color: rgba(88, 87, 87, 0.822);
	font-size: 14px;
	text-align: center;
}

.form label {
	position: relative;
}

.form label .input {
	width: 100%;
	min-height: 60px;
	padding: 10px 10px 20px 10px;
	outline: 0;
	border: 1px solid rgba(105, 105, 105, 0.397);
	border-radius: 4px;
}

.form label .input + span {
	position: absolute;
	left: 10px;
	top: 15px;
	color: grey;
	font-size: 0.9em;
	cursor: text;
	transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
	top: 15px;
	font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
	top: 30px;
	font-size: 0.7em;
	font-weight: 600;
}

.form label .input:valid + span {
	color: green;
	font-size: 0.75rem;
}

.submit {
	border: none;
	outline: none;
	background-color: royalblue;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	transform: 0.3s ease;
	cursor: pointer;
}

.submit:hover {
	background-color: rgb(56, 90, 194);
}

@keyframes pulse {
	from {
		transform: scale(0.9);
		opacity: 1;
	}

	to {
		transform: scale(1.8);
		opacity: 0;
	}
}

/* post item */
.post_card {
	background: white;
	padding: 0.4em;
	border-radius: 6px;
}

.card-image {
	border-radius: 6px;
}

.category {
	text-transform: uppercase;
	font-size: 0.5rem;
	color: rgb(63, 121, 230);
	padding: 10px 7px 0;
}

.category:hover {
	cursor: pointer;
}

.heading {
	font-weight: 600;
	font-size: 1rem;
	color: rgb(88, 87, 87);
	cursor: pointer;
}

.heading:hover {
	cursor: pointer;
}

.author {
	color: gray;
	font-weight: 400;
	font-size: 11px;
	padding: 0 4px;
}

.name {
	font-weight: 600;
}

.name:hover {
	cursor: pointer;
}

/* Hiệu ứng */
.pulse {
	animation: pulse 1s linear infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* footer form */
.footerForm {
	background: linear-gradient(#fffefe, #ffffff) padding-box,
		linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
	border: 4px solid transparent;
	font-size: 14px;
	font-family: inherit;
	color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border-radius: 16px;
}

/* animation */
.animated-element {
	animation: move-from-left 2s ease-in-out forwards;
}

@keyframes move-from-left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
