@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scrollbar-width: 2px;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: black;
	min-width: auto;
	box-shadow: 0px 5px 5px 0px rgb(241, 168, 59);
	z-index: 1;
}

.service {
	position: relative;
}
.sublink {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #f9f9f9;
	padding: 10px;
	border: 1px solid #ddd;
}

.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}

/* display */
.hidden {
	display: none;
}

/* fontSize, fontColor, fontWeigt */
.font-semibold {
	font-weight: 600;
}
.first-line\:font-bold::first-line {
	font-weight: 700;
	font-size: larger;
}
.text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-amber-400 {
	--tw-text-opacity: 1;
	color: rgb(251 191 36 / var(--tw-text-opacity));
}
.text-3xl {
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
}
.uppercase {
	text-transform: uppercase;
}
.decoration-none {
	text-decoration: none;
}

/* Hover */
.hover\:text-amber-200:hover {
	--tw-text-opacity: 1;
	color: rgb(253 230 138 / var(--tw-text-opacity));
}
.hover\:text-\[2rem\]:hover {
	font-size: 2rem /* 32px */;
}
:hover .sublink {
	display: block;
}

/* Margin */
.mx-3 {
	margin-left: 0.75rem /* 12px */;
	margin-right: 0.75rem /* 12px */;
}

/* Padding */

/* transform, animation */
.duration-500 {
	transition-duration: 500ms;
}

@media (min-width: 48rem) {
	.footer_links {
		display: none;
	}
}
